doctype html
html
  head
  body
    div(id='outer')
      div(id='inner')
        table(class='main')
          tr
            td(width='10')
            td
              img(class='logo-p' src='http://www.usaintercargo.com/getattachment/About-USA-Intercargo/Partners/Partners-text-(5).png.aspx')
            td(class='rigth')
              img(src='http://partners.easytrack.dev:8888/img/logo_250x70.png' class='logo')
            td(width='10')
          tr
            td(width='10')
            td(id='title' colspan='2')
              p= title
            td(width='10')
          tr
            td(width='10')
            td(id='content' colspan='2')
              block body
            td(width='10')
        br
      div(id='footer')
        br
        table(class='')
          tr
            td
              p © 2017 Easytrack. All rights reserved.


